@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/*#displayFilms {
    display: flexbox;
    align-items: center;
    margin-bottom: 3em;
    margin-top: 3em;
    margin-left: 5em;
    margin-right: 5em;
}
#displayFilms h2 {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #007bff;
}
#moviePoster {
    align-self: center;
    display: flex;
    justify-content: center;
}*/

